.image-container {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	background-color: #efefef;
	height: 150px;
	margin-top: 2rem;
	padding: 1rem 1.5rem;
}
/* .image-container div {
	display: block;
} */
.featured__title {
	text-transform: uppercase;
}
.featured__subtitle {
	margin-bottom: 10px;
	font-size: 14px;
	color: #777;
}
.image-container p {
	margin-top: 10px;
}
.featured__link {
	border: 1px solid var(--primaryColor);
	text-decoration: none;
	border-radius: 3px;
	color: var(--primaryColor);
	padding: 0.5rem 1.5rem;
	font-size: 16px;
	transition: all 0.2s ease;
}
.featured__link:hover {
	background-color: var(--primaryColor);
	color: #fff;
}
