.footer {
	background-color: #111;
	display: block;
}
.company__features,
.footer__links {
	display: grid;
	padding: 2rem;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 2rem;
	row-gap: 2rem;
	color: #fefefe;
	font-weight: 300;
	border-bottom: 1px solid rgb(112, 112, 112);
	margin-bottom: 1rem;
}

.single__feature {
	display: flex;
	align-items: center;
	cursor: default;
	padding: 1rem 0;
}
.single__feature div {
	padding: 0 20px;
}
.single__feature div > p {
	font-size: 1.05rem;
	font-weight: 600;
	transition: color 0.2s ease-out;
	text-transform: capitalize;
}
.single__feature div span {
	color: #ccc;
	letter-spacing: 1.25px;
	transition: color 0.2s ease-out;
}
.single__feature:hover div > p {
	color: var(--primaryColor);
}
.single__feature:hover div span {
	color: #fff;
}
.footer__links-col {
	display: block;
}
.footer__links-col h3 {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__links-col .links__list {
	list-style: none;
	transition: max-height 0.2s linear;
	display: block;
	padding: 1rem 0;
	max-height: 300px;
	overflow: hidden;
	line-height: 1.5;
}
.footer__links-col .links__list li {
	padding-top: 10px;
	font-size: 14px;
	letter-spacing: 1.2px;
}
.footer__links-col .links__list a {
	text-decoration: none;
	color: rgb(112, 112, 112);
	transition: color 0.1s ease-out;
	font-weight: 600;
}
.footer__links-col .links__list a:hover {
	color: var(--primaryColor);
}
@media screen and (min-width: 983px) {
	.company__features,
	.footer__links {
		grid-template-columns: repeat(4, 1fr);
	}
	.footer__links-col h3 span {
		opacity: 0;
	}
}
@media screen and (max-width: 983px) {
	.footer__links-col .links__list {
		max-height: 0;
	}
	.footer__links-col .links__list.mobile-show {
		max-height: 300px;
	}
}
.copyrights {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	line-height: 2;
}
.copyrights ul {
	display: flex;
	padding: 1rem;
}
.copyrights__links li {
	padding: 0 10px;
	border-right: 1px solid #fff;
}
.copyrights__links li a {
	color: #fff;
	transition: color 0.3s linear;
}
.copyrights__links li a:hover,
.copyrights__links li a:active {
	color: var(--primaryColor);
}
